<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard"><i class="bi bi-gem me-2"></i>PetCareX Luxury</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <span class="nav-link text-white me-3">
                        <i class="bi bi-person-circle me-2"></i>
                        <%= typeof employee !=='undefined' ? employee.name : 'Nhân viên' %>
                            <span class="badge bg-light text-dark ms-1">
                                <%= typeof employee !=='undefined' ? employee.position : '' %>
                            </span>
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-light btn-sm px-3 text-white border-white" href="/logout">Đăng
                        xuất</a>
                </li>
            </ul>
        </div>
    </div>
</nav>